/* purgecss start ignore */
@tailwind base;
@tailwind components;
body {
  background: linear-gradient(
      122.01deg,
      #151515 0%,
      #212121 55.21%,
      #151515 100%
    ),
    #151515;
}
button:focus {
  outline: 1px dotted;
}
/* purgecss end ignore */
@tailwind utilities;

@font-face {
  font-family: "Livvic";
  font-weight: 400;
  src: url("../public/fonts/Livvic-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Livvic";
  font-weight: 500;
  src: url("../public/fonts/Livvic-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Overlock SC";
  font-weight: 400;
  src: url("../public/fonts/OverlockSC-Regular.ttf") format("truetype");
  font-display: swap;
}
